body {
  background: white;
  color: black;
  font-family: "Arial", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0; }
  body .cl {
    clear: both; }
  body .tl {
    text-align: left; }
  body .tr {
    text-align: right; }
  body .tcenter {
    text-align: center; }
  body .topbar {
    width: 1000px;
    height: 100px;
    margin: 0 auto; }
    body .topbar .container a.brand {
      font-size: 30px;
      width: 100%;
      float: left;
      text-decoration: none;
      line-height: 50px;
      color: black; }
    body .topbar .container .nav {
      padding: 0;
      margin: 0;
      float: left;
      width: 100%;
      background: #555555; }
      body .topbar .container .nav li {
        list-style: none;
        float: left; }
        body .topbar .container .nav li a {
          display: inline-block;
          padding: 20px 20px;
          text-decoration: none;
          color: white; }
          body .topbar .container .nav li a:hover {
            background: #cccccc; }
  body .container {
    width: 1000px;
    margin: 0 auto;
    /* Css for form */ }
    body .container .content .row .span10 form {
      width: 100%; }
      body .container .content .row .span10 form .field {
        float: left;
        width: 100%;
        margin-bottom: 5px; }
        body .container .content .row .span10 form .field label {
          line-height: 25px; }
        body .container .content .row .span10 form .field select {
          width: 350px; }
        body .container .content .row .span10 form .field input[type="text"] {
          width: 500px; }
        body .container .content .row .span10 form .field textarea:not(.tinymce) {
          width: 100%;
          height: 100px; }
      body .container .content .row .span10 form .input label {
        display: inline-block;
        width: 150px; }
      body .container .content .row .span10 form .input input[type="text"], body .container .content .row .span10 form .input textarea {
        width: 350px; }
    body .container .content .row .span10 table.admin-list {
      border-bottom: medium none;
      border-collapse: collapse;
      font-size: 13px;
      margin: 0;
      text-align: left; }
      body .container .content .row .span10 table.admin-list tr {
        border: 0 none;
        font-size: 100%;
        margin: 0;
        outline: 0 none;
        padding: 0;
        vertical-align: baseline;
        background-color: white; }
        body .container .content .row .span10 table.admin-list tr:nth-child(even) {
          background-color: #cccccc; }
        body .container .content .row .span10 table.admin-list tr th {
          background: none repeat scroll 0 0 #efefef;
          border-top: 1px solid white;
          color: #333;
          font-size: 13px;
          font-weight: normal;
          padding: 8px;
          text-align: left; }
        body .container .content .row .span10 table.admin-list tr td {
          background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
          border-bottom: medium none !important;
          border-top: 1px solid #cccccc;
          color: #666;
          padding: 8px;
          vertical-align: middle; }
    body .container footer {
      border-top: 5px solid #cccccc;
      width: 100%;
      padding-top: 30px;
      margin-top: 30px;
      padding-bottom: 20px;
      text-align: center; }
